section {
     margin-bottom: 40px ;
}
#header-img {
    max-width: 100vw;
    height: 25rem;
    background-image: url(../../images/front.png);
    background-size: cover;
    .container {
        color: white;
        width: 80%;
        height: 25rem;
        position: absolute;
        left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3.5rem;
        }
    }
}
.available-sports-section-header {
    &:after {
        @extend %section-header-shared;
        width: 20%;
    }
}

.sport-box {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    cursor: pointer;
    .sport-box-img {
        margin: 10px auto;
        width: 4.5rem;
        height: 3rem;
    }
    .sport-box-text {
        text-align: center;
    }
}
.add-margin-sport-box {
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    &:nth-child(4n) {
        border-right: none;
    }
    &:nth-last-child(1){
        border-bottom: none;
    }
}

#easy-steps-section {
    margin: 50px 0;
    padding: 50px 30px;
    background-color: #282828;
}
.easy-steps-section-header {
    &:after {
        @extend %section-header-shared;
        width: 25%;
        margin: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .separator {
        display: none;
    }
    .add-margin-sport-box {
        border-bottom: 1px solid #C4C4C4;
        &:nth-child(2n) {
            border-right-width: 0;
        }
        &:nth-last-child(1) {
            border-bottom: none;
        }
    }
    .easy-steps-section-header {
        &:after {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 575px) {
    #header-img {
        .container {
            width: 100%;
            left: 5%;
            padding: 0 2rem;
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    .available-sports-section-header {
        &:after {
            width: 40%;
        }
    }
    .sport-box {
        margin: 30px 0;
        .sport-box-img {
            margin: 10px auto;
            width: 6rem;
            height: 4rem;
        }
        .sport-box-text {
            text-align: center;
            font-size: 1.25rem;
        }
    }
    .add-margin-sport-box {
        border-bottom: 1px solid #C4C4C4;
        border-right: none;
        &:nth-last-child() {
            border: none;
        }
    }
    #easy-steps-section {
        div {
            div {
            margin: 10px 0;
            padding: 5px;
            }
        } 
    }
    .easy-steps-section-header {
        &:after {
            width: 70%;
        }
    }
}